<html>
  <head>
    <title>{{ title }} | {{ site_name }}</title>
    <link href="/css/app.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="flex flex-col min-h-screen overflow-hidden">
      <nav
        class="fixed z-10 w-full py-8 mb-8 bg-white shadow pin-t xs sm:relative sm:shadow-none sm:mb-0 sm:pin-none"
      >
        <!-- Off-canvas menu for mobile -->
        NAV HERE
      </nav>
    </div>
    <div>
      {{ template_content }}
    </div>

    <footer>
      <div class="bg-sgray-900">
        LINKS HERE
      </div>
    </footer>
  </body>
</html>
